doctype html
html
  head
    title Battleship
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(type='text/javascript', src='./javascript/login.js')
    link(rel='stylesheet', type='text/css', href='../styles/style.css')
  body
    hr
    h1#homePageIcon BATTLESHIP
    hr
    center
      .firstpagestart
        br
        input#name(type='text', name='name', placeholder='name', required='')
        input#gameId(type='number', name='gameId', placeholder='optional gameid')
        button(onclick='login()') Start
        button#soundSwitch(onclick='sound_on_off()') SOUND OFF
        audio#mysoundclip(preload='auto')
          source(src='./soundFiles/tick.wav')
        audio#helicopter(preload='auto', autoplay='', loop='')
          source(src='./soundFiles/helicopter.wav')
  .shipimage
    img(src='./images/ship.svg')
