html
  head
    title Place Ships
    link(rel='stylesheet', type='text/css', href='../styles/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js')
    script(type='text/javascript', src='../javascript/shipPlacingPage.js')
    hr
    .banner
      h3.nameAndGameId!=playerInfo
      h1.otherPageLogo BATTLESHIP
      a#instructionLink(href='instructions.html', target='_blank') Instructions
      a#teamLink(href='team.html', target='_blank') Our Team
    hr
    section.shipPlacingSection
      h3#shipPlacingInstruction Click on the grid to place ships.
      table#shipDeployment.grid
        tr
          td#A1(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#A2(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#A3(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#A4(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#A5(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#A6(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#A7(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#A8(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#A9(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#A10(width='60px', height='60px', onclick='checkAndSubmit(this)')
        tr
          td#B1(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#B2(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#B3(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#B4(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#B5(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#B6(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#B7(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#B8(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#B9(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#B10(width='60px', height='60px', onclick='checkAndSubmit(this)')
        tr
          td#C1(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#C2(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#C3(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#C4(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#C5(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#C6(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#C7(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#C8(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#C9(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#C10(width='60px', height='60px', onclick='checkAndSubmit(this)')
        tr
          td#D1(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#D2(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#D3(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#D4(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#D5(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#D6(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#D7(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#D8(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#D9(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#D10(width='60px', height='60px', onclick='checkAndSubmit(this)')
        tr
          td#E1(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#E2(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#E3(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#E4(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#E5(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#E6(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#E7(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#E8(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#E9(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#E10(width='60px', height='60px', onclick='checkAndSubmit(this)')
        tr
          td#F1(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#F2(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#F3(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#F4(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#F5(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#F6(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#F7(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#F8(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#F9(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#F10(width='60px', height='60px', onclick='checkAndSubmit(this)')
        tr
          td#G1(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#G2(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#G3(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#G4(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#G5(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#G6(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#G7(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#G8(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#G9(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#G10(width='60px', height='60px', onclick='checkAndSubmit(this)')
        tr
          td#H1(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#H2(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#H3(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#H4(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#H5(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#H6(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#H7(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#H8(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#H9(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#H10(width='60px', height='60px', onclick='checkAndSubmit(this)')
        tr
          td#I1(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#I2(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#I3(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#I4(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#I5(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#I6(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#I7(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#I8(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#I9(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#I10(width='60px', height='60px', onclick='checkAndSubmit(this)')
        tr
          td#J1(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#J2(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#J3(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#J4(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#J5(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#J6(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#J7(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#J8(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#J9(width='60px', height='60px', onclick='checkAndSubmit(this)')
          td#J10(width='60px', height='60px', onclick='checkAndSubmit(this)')
      audio#mysoundclip(preload='auto')
        source(src='../soundFiles/tick.wav')
      #selectShip.controller
        center
          h2.controlPanelHeading Control Panel
        select#ship
          option(value='5') Carrier (size:5)
          option(value='4') Battleship (size:4)
          option(value='3') Cruiser (size:3)
          option(value='3') Submarine (size:3)
          option(value='2') Destroyer (size:2)
        br
        |       Alignment
        br
        input#horizontal(type='radio', name='group1', value='horizontal', checked='')
        |  Horizontal
        br
        input#vertical(type='radio', name='group1', value='vertical')
        |  Vertical
        br
        button#reset(onclick="reset();soundPlay();")  Reset
        button#ready(onclick="sendToGamePage();\
        soundPlay();")  Ready 
        #alert  please place all ships
        #alert1
          span
      #loading
        b WAITING FOR ENEMY.
