
body{
    background: lavender;
    margin: 0px;
}

h3 {
    font-size: larger;
    position: relative;
    margin: 0px;
    left: 700px;
}

#shipDeployment{
    margin: 50px 0px 0px 150px;
    border: none;
}

.banner{    
    text-align: center;
    position: fixed;
    display: flex;
    left:0px;
    right: 0px;
    z-index: 1;
    padding: 5px;
    height: 30px;
    background-color: slategrey;
}

.grid tbody{
    border: white;
    background-color: lightsteelblue;
}

#selectShip {
     position: fixed;
     font-size: 20px;
     margin: -26.6em 0 0 50em;
}

.grid td:hover{
	background-color: lightgrey;
    cursor: pointer;
}

.firstpagestart{
    margin: 10px;
    height: 100px;
    width: 300px;
    border-style: double;
    padding: 25px;
    border-radius: 25px;
    font-size: larger;
    background: linear-gradient(rgba(0,0,255,0), rgba(0,0,155,0.2));
}
button{
    background-color: lightblue;
    padding:2px;
    width: 50px;
    height:50px;
    border-radius: 50px;
}
button:hover{
    transform:scaleX(1.2) ;
    font-weight: bold;
    cursor: pointer;
}
#loading{
    visibility: hidden;
    display: inline;
}

.controller{
    border-radius: 25px;
    height: 500px;
    width: 400px;
    float: right;
    background: linear-gradient(rgba(170,170,170,1), rgba(200,200,200,0.2));
    padding: 20px;
}

.gamePage{
    position: relative;
    top: 50px;
}
section div.enemy{
    display: inline-table;
    margin:5px;
}
section div.own{
    display: inline-table;
}
section table#own{
    pointer-events:none;
}
#ready{
    pointer-events:none;
    opacity: 0.5;
}
#alert{
    display: none;
}

@keyframes scale {
    0%   {transform:scale(1)}
    100% {transform:scale(1.2)}
}






