/*//==========================index.html styling=========================\\*/

.firstpagestart input{
  border-width: 1.5px;
  height: 30px;
  width: 220px;
  margin-top: 5px;
  border-color: black;
  display: list-item;
  font-size: 19px;
}

#welcome{
  height:200px;
  width:500px;
  overflow: auto;
}

.firstpagestart{
  padding-top: 40px;
  z-index: 1;
}
/*//=========================shipPlacingPage.html styling==================\\*/
#shipDeployment{
  border: none;
  display: inline-block;
}

.nameAndGameId {
    font-size:14px;
    position: relative;
    margin: 30px;
}
#shipPlacingInstruction{
  font-weight: 200;
  margin: 0px;
  width:1000px;
  z-index: 1;
}
/*//==========================game.html styl===============================\\*/
.gamePage{
    text-align: center;
    top: 0px;
    margin-left: -240px;
    padding-left: 10px;
}

.statusOfShips tbody .indication{
  background-color: green;
}
.statusOfShips{
  margin: 20px 0px 0px 0px;
}

section .own #own tr tbody{
  visibility: hidden;
  border-width: 5px;
}
/*//==========================highScores styling==============================\\*/
#chartdiv{
  margin-left: 50px;
}
.axis path{
  fill:none;
  stroke:black;
}

.axis .tick{
  stroke:grey;
  stroke-width:0.2; 
}


.axis .tick text{
  stroke:black; 
}

/*//==========================common styling==============================\\*/
#instructionLink,#teamLink,#highscoreLink{
  left: 20%;
  margin: 8px;
  margin-top: 2%;
}

ul{
  font-size: 20px;
  line-height: 50px;
}

.controlPanelHeading{
  font-weight: 200;
}

body{
  font-family:sans-serif;
  margin: 0 auto;
}


.otherPageLogo{
  margin-left: 450px;
  font-size:35px;
}

h5{
  height: 20px;
}
.grid tbody{
    border: white;
    background-color: lightsteelblue;
}
.grid td:hover{
  cursor : url(../images/crosshair.png) 25 25,cell;
    background-color: lightgrey;
}

.banner{
    display:flex;
}

.gridName{
  font-size: 17px;
  font-weight: 400;
  display:inline;
  padding: 20px;
}

.controller{
    position:absolute;
    font-size: 20px;
    display: inline-table;
    margin:50px 0px 0px 5px;
    height: 300px;
    width: 200px;
    padding: 30px;
    border-style:solid;
    border-width: 1px;
}

button{
  border-width: 1.5px;
    background-color: white;
    padding:2px;
    width: 60px;
    height:32px;
    margin: 5px;
    border-color: black;
}
button:hover{
    background-color: #E4DDDD;
}
/*//======================================================================\\*/



a{
    position: relative;
    color: black;
    text-decoration: none;
}

#homePageIcon{
  font-family: sans-serif;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
}


input::-webkit-input-placeholder{
  color: #A5A899;
  font-size: 12px;
}

a:hover{
    color: red;
}

.noClick{
    pointer-events:none;
}

#winner,#loser td{
    pointer-events:none;
}
#loading{
    position: absolute;
    background-color: black;
    font-size: larger;
    color:white;
    left:15%;
    top:50%;
    visibility: hidden;
    display: inline;
    animation:loading 1s infinite alternate;
}
.shipimage{
  position: fixed;
  bottom:0px;
  z-index:-1;
}
.shipPlacingSection {
    position: relative;
    display: block;
    left: 20%;

}

section div.enemy{
    display: inline-table;
    margin:15px;
}
section div.own{
    display: inline-table;
}
section table#own{
    pointer-events:none;
}
#ready{
    pointer-events:none;
    opacity: 0.5;
}
#alert{
    display: none;
}




#restartButton{
    margin-left: 100px;
    animation: scale 0.5s infinite alternate;
}

@keyframes scale {
    0%   {transform:scale(1)}
    100% {transform:scale(1.2);background-color:green;}
}

@keyframes loading{
    0% {}
    100% {opacity:0;}
}

@keyframes scale_once{
    0% {}
    50% {transform:scale(1.2);opacity: 0.2;}
    100% {transform:scale(1);opacity: 1;}
}

.label{
    padding:5px;
    border-radius: 5px;
}

#resultBox {
    height: 500px;
    width: 1415px;
    padding-top: 25px;
}

#hits {
    float: left;
    display: inherit;
    margin-left: 100px;
    border: 1px solid;
    background-color: red;
}

#miss {
    float: left;
    display: inherit;
    margin-left: 100px;
    border: 1px solid;
    background-color: #ccfff4;
}

#shipsLeft {
    float: left;
    display: inherit;
    margin-left: 100px;
    border: 1px solid;
    background-color: grey;
}


